<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kámen, nůžky, papír</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="nadpis>"><h1><u> <font size="+5"> <pre>KÁMEN       NŮŽKY       PAPÍR </pre></font> </u></h1></div>
    <br>
    <div><h2> Vyber jednu z možností: </h2></div>
    <br>
    <br>
    
 
    <center><div class="vyber"> 
    <h1> <a href="/kamen">Kámen </a> <br> <br>
    <a href="/nuzky">Nůžky</a> <br> <br>
    <a href="/papir">Papír</a> </h1>
    </div></center>
   
</body>

</html>